@import 'bootstrap/scss/_functions.scss';
@import './helpers/_variables';
@import 'bootstrap/scss/bootstrap.scss';
* :focus {
  outline-color: transparent;
  outline-style: none;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: $gray-100;
}
